<div id="navbar">
    <div
        id="side-nav-toggle"
        fxFlex
        fxLayout
        fxLayoutAlign="start center"
        fxHide.gt-sm
    >
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
            <span>
                {{ 'core.layout.header.topnav.menu_button' | translate }}
            </span>
        </button>
    </div>
    <div
        id="left-links"
        fxFlex
        fxLayout
        fxLayoutAlign="start center"
        fxHide.lt-md
    >
        <ul fxLayout fxLayoutGap="40px" class="navigation-items">
            <li>
                <a routerLink="/">
                    {{ 'core.layout.header.topnav.home_link' | translate }}
                </a>
            </li>
            <ng-container>
                <li *ngFor="let link of pluginLinks">
                    <a routerLink="{{ link.url }}">
                        {{ link.name | translate }}
                    </a>
                </li>
            </ng-container>
            <li>
                <a [matMenuTriggerFor]="symbiota">
                    {{ 'core.layout.header.topnav.symbiota_link' | translate }}
                </a>
            </li>
        </ul>
    </div>
    <div
        id="right-links"
        fxFlex
        fxLayout
        fxLayoutAlign="end center"
        fxHide.xs
    >
        <ul
            class="navigation-items"
            fxLayout
            fxLayoutGap="15px"
            fxLayoutAlign="space-around center"
        >
            <li *ngIf="user">
                {{ 'core.layout.header.topnav.welcome_line' | translate:{ 'firstName': user.firstName } }}
            </li>
            <li *ngIf="user">
                <a routerLink="/viewprofile">
                    {{ 'core.layout.header.topnav.my_profile_link' | translate }}
                </a>
            </li>
            <li *ngIf="user" (click)="onLogout()">
                <a>{{ 'core.layout.header.topnav.logout_link' | translate }}</a>
            </li>
            <li *ngIf="!user" (click)="onLogin()">
                <a>{{ 'core.layout.header.topnav.login_link' | translate }}</a>
            </li>
            <li *ngIf="!user">
                <a routerLink="/signup">
                    {{ 'core.layout.header.topnav.new_account_link' | translate }}
                </a>
            </li>
            <li>
                <a routerLink="/sitemap">
                    {{ 'core.layout.header.topnav.sitemap_link' | translate }}
                </a>
            </li>
            <li>
                <select
                    [ngModel]="currentLang"
                    (change)="useLanguage($event.target)"
                >
                    <option value="en">English</option>
                    <option value="ar">Arabic</option>
                    <option value="zh">Chinese</option>
                    <option value="fa">Farsi</option>
                    <option value="fr">French</option>
                    <option value="de">German</option>
                    <option value="hi">Hindi</option>
                    <option value="it">Italian</option>
                    <option value="ja">Japanese</option>
                    <option value="pt">Portuguese</option>
                    <option value="ru">Russian</option>
                    <option value="es">Spanish</option>
                    <option value="ur">Urdu</option>
                </select>
            </li>
        </ul>
    </div>
    <mat-menu #symbiota="matMenu">
        <ul id="navigation-items-sub" fxLayout="column" fxLayoutGap="15px">
            <li mat-menu-item>
                <a href="http://symbiota.org/docs/" target="_blank">
                    {{ 'core.layout.header.topnav.symbiota_docs_link' | translate }}
                </a>
            </li>
            <li mat-menu-item>
                <a href="http://symbiota.org/docs/symbiota-introduction/symbiota-help-pages/" target="_blank">
                    {{ 'core.layout.header.topnav.symbiota_help_link' | translate }}
                </a>
            </li>
            <li mat-menu-item>
                <a href="http://symbiota.org/docs/google-group/" target="_blank">
                    {{ 'core.layout.header.topnav.symbiota_google_group_link' | translate }}
                </a>
            </li>
        </ul>
    </mat-menu>
</div>
