#buttons {
    margin-top: 1rem;

    button {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    button:first-child {
        margin-left: 0;
    }
}

.expansion-panel {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.required-asterisk {
    color: darkred;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    transition: opacity 0.5s;

    &.hide {
        opacity: 0;
    }
}
