a {
    text-decoration: none;
}

.mat-card {
    $background: white;
    margin: 0.25rem;

    width: 18rem;
    height: 6rem;

    @media only screen and (max-width: 600px) {
        width: 100%;
    }

    .mat-card-content {
        width: 100%;
        height: 100%;
    }

    &:hover {
        background: darken($background, 5%);
        cursor: pointer;
    }
}

#logo {
    margin-right: 1rem;
}

#text {
    height: 100%;

    &, & span {
        overflow-y: hidden;
        text-overflow: ellipsis;
    }
}

#institution {
    font-size: 75%;
    font-style: italic;
}
