.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.upper-cards {
  margin-bottom: 15px;
}

mat-card-header {
  margin-bottom: 10px;
  margin-left: -25px;
}
