#collectionLogo {
    margin-right: 1rem;
}

#collectionName {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1rem;
}

#links {
    margin-top: 0.5rem;
    font-size: 75%;

    .pipe {
        font-weight: bold;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        &:last-child {
            display: none;
        }
    }
}

#fields {
    margin-top: 1rem;
    border-spacing: 0.5rem 0.25rem;

    tr {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    td {
        vertical-align: top;
    }
}
