<div *ngIf="collection">
    <div fxLayout="row" fxLayoutAlign="start center">
        <lib-collection-logo
            id="collectionLogo"
            src="{{ collection.icon }}"
            size="5rem"
            *ngIf="collection.icon"
        >
        </lib-collection-logo>
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row">
                <h1 id="collectionName">{{ collection.collectionName }}</h1>
                <button
                    *ngIf="currentUser && currentUser.canEditCollection(collection.id)"
                    class="invisible-btn"
                    (click)="onEdit()"
                >
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div id="links">
                <ng-container *ngFor="let link of links">
                <span>
                    <a
                        [routerLink]="link.routerLink"
                        [queryParams]="link.queryParams">{{ link.text }}</a>
                </span>
                    <span class="pipe">|</span>
                </ng-container>
            </div>
        </div>
    </div>
    <table id="fields">
        <tr *ngFor="let keyVal of collectionIter">
            <td class="bold text-end">{{ keyVal[0] }}:</td>
            <td *ngIf="keyVal[0] === 'institution' && !!keyVal[1] else notInstitution">
                <a href="/institutions/{{ keyVal[1].id }}">
                    {{ keyVal[1].name }}
                </a>
            </td>
            <ng-template #notInstitution>
                <td [innerHTML]="keyVal[1] | symbiotaDetectLinks"></td>
            </ng-template>
        </tr>
    </table>
</div>
