@import "../../../global";

.result-card {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#header {
    margin-bottom: 1rem;
}

#result-nav-btns {
    display: flex;
    justify-content: center;

    button {
        @include mx(1rem);
        min-width: 0;
        padding: 0 0.5rem;
    }
}
