<div id="banner-container">
    <a routerLink="/" class="invisible-btn">
        <img
            id="banner-logo"
            src="./assets/images/layout/logo_green.jpg"
            alt="{{ 'core.layout.header.banner.symbiota_logo_alt_text' | translate }}"
        >
    </a>
</div>
