@import "../../../global";

#collection-icon {
    max-width: 5rem;
    @include mx(1rem);
}

#footer {
    margin-top: 2rem;
}

.edit-category {
    @include my(0.5rem);
}

.btn-icon {
    background: none;

    cursor: pointer;
    border-radius: 10%;
    border: none;

    &:active {
        box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.5);
        outline: none;
    }

    &:focus {
        outline: none;
    }

    .mat-icon {
        display: block;
        flex-grow: 1;
        transition: transform 150ms;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.font-grey {
    color: rgba(0, 0, 0, 0.6);
}
