<div mat-dialog-title>
    <div fxLayout="row" fxLayoutAlign="start center">
        <!-- TODO: Link to collection -->
        <ng-container *ngIf="loaded">
            <div>
                <img id="collection-icon" *ngIf="collection.icon" [src]="collection.icon" alt="collection icon">
            </div>
            <div>
                <h2>
                    {{ collection.collectionName }}
                </h2>
            </div>
        </ng-container>
        <div class="ml-auto">
            <button class="btn-icon" (click)="onEditClick()">
                <mat-icon>create</mat-icon>
            </button>
            <button class="btn-icon" (click)="onCloseClick()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
</div>
<div mat-dialog-content fxLayout="column" *ngIf="loaded">
    <div class="edit-category">
        <lib-expansion-panel title="Collector info" expanded="true">
            <ng-container *ngFor="let item of occurrence.collectorInfo() | keyvalue">
                <p *ngIf="item.value">
                    <b>{{ getI18nForField(item.key) | async }}:</b> {{ item.value }}
                </p>
            </ng-container>
        </lib-expansion-panel>
    </div>
    <div class="edit-category">
        <lib-expansion-panel title="Latest identification">
            <ng-container *ngFor="let item of occurrence.latestIDInfo() | keyvalue">
                <p *ngIf="item.value">
                    <b>{{ getI18nForField(item.key) | async }}:</b> {{ item.value }}
                </p>
            </ng-container>
        </lib-expansion-panel>
    </div>
    <small id="footer" *ngIf="occurrence.lastModifiedTimestamp">
        Last updated {{ occurrence.lastModifiedTimestamp | date }}
    </small>
</div>

