<mat-accordion>
    <mat-expansion-panel [expanded]="expanded">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>{{ title }}</b>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-content></ng-content>
    </mat-expansion-panel>
</mat-accordion>
