<mat-card (click)="openDialog()">
    <mat-card-title>{{ occurrence.catalogNumber }}</mat-card-title>
    <mat-card-subtitle>
        {{ occurrence.sciname }}
    </mat-card-subtitle>
    <mat-card-content></mat-card-content>
</mat-card>
